@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eef0f8;
}

.background-pattern::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: #f9f9f9;
  clip-path: circle(50% at 0 100%);
}

.background-pattern::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: #f9f9f9;
  clip-path: circle(50% at 0 100%);
}

.wave-pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 400px;
  background: linear-gradient(to left, #a12591, #c2229f);
  clip-path: ellipse(70% 100% at 100% 0);
  z-index: -1;
}

.form-container {
  position: relative;
}

/* Styling for the dot */
.dot {
  position: absolute;
  right: -80%;
  top: 30%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  background-color: rgb(255, 165, 0, 0.5);
  border-radius: 50%;
  z-index: 10;
}

.dot2 {
  position: absolute;
  right: -80%;
  top: 70%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: hsl(214, 62%, 41%);
  border-radius: 50%;
  z-index: 10;
}

@media (max-width: 768px) {
  .dot,
  .dot2 {
    display: none;
  }
}

.gradient-border-bottom {
  position: relative;
  display: inline-block; /* Adjust display as needed for your layout */
}

.gradient-border-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px; /* Thickness of the border */
  margin-top: 2px;
  background: linear-gradient(
    to right,
    #ec4899,
    #f97316
  ); /* Adjust gradient colors as needed */
}
